/* style */

body {
  background-color: rgba(23, 45, 70, 0.6);
  text-align: center;
}

.container {
  width: 800px;
  margin: 40px auto;
  padding: auto;
  position: relative;
  background-color: white;
}

.font {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-display: none;
  margin-right: 2px;
  margin-top: 30px;
}

.daftar {
  margin-top: 4px;
  margin-left: 18px;
  text-align: left;
  font-size: 20px;
  text-emphasis: none;
}

.main {
  height: auto;
}

.main img {
  margin-top: 8px;
  margin-left: 5px;
  border-radius: 50%;
}

.kotak1 a {
  display: inline-block;
  text-decoration: none;
}

.kotak1 a:hover {
  background-color: lightskyblue;
  color: white;
}

.kotak1 {
  width: 400px;
  height: 50px;
  margin: auto;
  background-color: blue;
  font-size: 40px;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.kotak2 {
  width: 400px;
  height: 50px;
  margin: auto;
  margin-top: 7px;
  background-color: red;
  font-size: 34px;
  text-align: center;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
